@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url(../_global.scss);
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Bold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Regular.ttf);
}
nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  z-index: 1000;
  transition: 1s;
}
.overlay .overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.overlay .overlay-content a {
  color: white;
  font-family: "Montserrat";
}

.overlay .closebtn {
  position: absolute;
  color: white;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.navbar-laung {
  background-color: #0d0d0d;
  transition: 1s;
}
.navbar-laung .launguage {
  padding: 15px 20px;
}
.navbar-laung .launguage a {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Montserrat";
}
.navbar-laung .launguage .a-active {
  color: white;
}

.navbar-menu {
  background-color: white;
}

.container {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.container .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  transition: 1s;
}
.container .nav-menu h4 {
  color: #0d0d0d;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.4px;
}
.container .nav-menu a {
  font-family: "Montserrat";
}
.container .nav-menu .nav-links {
  display: flex;
  gap: 24px;
}
.container .nav-menu .nav-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .nav-menu .nav-btns .nav-btn-1 {
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  transition: 1s;
  font-family: "Montserrat";
}
.container .nav-menu .nav-btns .nav-btn-1:hover {
  background: var(--yellow, #ffc000);
}
.container .nav-menu .nav-btns .nav-btn-2 {
  padding: 0;
  background: none;
  border: none;
}
@media (max-width: 900px) {
  .container .nav-menu {
    display: none;
  }
}
.container > button {
  margin-top: 20px;
  display: none;
  padding: 5px;
}
.container > button img {
  width: 40px;
}
@media (max-width: 900px) {
  .container > button {
    display: block;
  }
}