@use "../global";



.container{
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;


  .nav-menu{
    display: flex;
    justify-content: space-between;
    h4{
      color: var(--black, #0D0D0D);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: "Poppins";
      font-size: 23px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 32.2px */
      letter-spacing: 0.4px;
    }
  
    .nav-links{
      display: flex;
      gap: 24px;
    }
  
    .nav-btns {
      display: flex;
      align-items: center;
      gap: 20px;
      .nav-btn-1{
        padding: 4px 8px;
        border-radius: 4px;
        background: var(--black-5, rgba(0, 0, 0, 0.05));
        transition: 1s;
  
        &:hover{
          background: var(--yellow, #FFC000);
        }
      }
      .nav-btn-2{
        padding: 0;
        background: none;
        border: none;
      }
    }
  }
}


