<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link rel="stylesheet" href="../css/footer.min.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="footer-texts">
          <div>
            <h5>про imperia</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget
              pretium aenean dignissim sit cursus dictumst adipiscing nunc.
            </p>
            <img src="../images/header/footer-logo.svg" alt="">
          </div>
          <div>
            <h5>контакты</h5>
            <p>+998 90 958 78 87</p>
            <p>support@fonon.uz</p>
            <h5>рабочее время</h5>
            <p>По будням 9:00 to 18:00</p>
            <p>В выходные 11:00 to 18:00</p>
          </div>
          <div>
            <h5>Меню</h5>
            <p>Главная</p>
            <p>О нас</p>
            <p>Категории</p>
            <p>Сотрудничество</p>
          </div>
          <div>
            <h5>категории</h5>
            <p>Женская одежда</p>
            <p>Мужская одежда</p>
            <p>Детская одежда</p>
            <p>Обувь</p>
            <p>Сумки</p>
            <p>Аксесуары</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
