<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/tailwind.css" />
    <link rel="stylesheet" href="../css/footer.min.css" />
  </head>
  <body>
    <footer>
      <div class="container">
        <div class="footer-texts">
          <div>
            <h5>про imperia</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget
              pretium aenean dignissim sit cursus dictumst adipiscing nunc.
            </p>
            <img src="../images/header/footer-logo.svg" alt="">
          </div>
          <div>
            <h5>контакты</h5>
            <a href="#">+998 90 958 78 87</a>
            <a href="#">support@fonon.uz</a>
            <h5>рабочее время</h5>
            <a href="#">По будням 9:00 to 18:00</a>
            <a href="#">В выходные 11:00 to 18:00</a>
          </div>
          <div>
            <h5>Меню</h5>
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Категории</a>
            <a href="#">Сотрудничество</a>
          </div>
          <div>
            <h5>категории</h5>
            <a href="#">Женская одежда</a>
            <a href="#">Мужская одежда</a>
            <a href="#">Детская одежда</a>
            <a href="#">Обувь</a>
            <a href="#">Сумки</a>
            <a href="#">Аксесуары</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
